body    {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/concrete-texture.png");
    color: #777777;
}

h1{
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    padding: 40px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    top: -22px;
    left: 270px;
}

h2{
    padding: 30px;
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    border-bottom: 3px solid #dddddd;
}

p{
    margin-left: 10px;
    padding: 10px;
    line-height: 200%
}

ul{
    margin-right: 205px;
}

li  {
    list-style: none;
    float: right;
    margin-top: -20px;
}

.nav{
    background-color: #ffffff;
    outline: none;
    border: none;
    font-size: 1em;
    color: #777777;
    padding-left: 19px;
    padding-right: 19px;
}

button:hover{
    color: #4aaaa5;
    text-decoration: underline;
}

header{
    background-color: #ffffff;
    margin-top: 0px;
    padding: 50px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}

article {
    background-color: #ffffff;
    margin-top: 50px;
    width: 960px;
    margin: 0 auto;
    padding-bottom: 100px;
}

footer{
    margin-top: 40px;
    background-color: #666666;
    padding-top: 50px;
    border-top: 5px solid #4aaaa5;
    color: #ffffff;
    text-align: center;
    font-size: small;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

input{
    width: 90%;
}

img{
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

textarea{
    width: 90%;
    height: 350px;
}

.wrapper{
    position: relative;
    margin-left: 80px;
}
.title{
    margin-left: 80px;
}

#portfolio{
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.project{
    width: 330px;
    height: 330px;
    margin-top: 20px;
}

.projectimg{
    width: 80%;
    height: 80%;
}

p.project{
    justify-content:center;
}